# isolinux/pxelinux configuration file
       DEFAULT menu.c32
       # Prompt user for selection
       PROMPT 0
       TIMEOUT 30
label unattended
        kernel bzImage
# Add options (z_user=..., z_path=..., etc.) to this line.
        append initrd=initrd

                                        
                                        
